<div class="card">
  <div class="card-img-wrapper">
      <img *ngIf= "property.Image" class=" card-img-top" src="assets\images\{{property.Image}}.jpg">
      <img *ngIf= "!property.Image" class=" card-img-top" src="assets\images\house_default.jpg">
      <ul class="text-center member-icon animate">
        <li class="list-inline-item">
          <button class="btn btn-primary" routerLink="/property-detail/{{property.Id}}">Edit</button>
        </li>
        <li class="list-inline-item">
          <button class="btn btn-primary">Contact</button>
        </li>
      </ul>
  </div>
      <div class="card-body p1">
        <h1>{{property.Name}}</h1>
        <h1>{{property.Type}}</h1>
        <h1>{{property.Price}}</h1>
      </div>
    </div>
